@use "@styles/config/variables" as variable;
@use "@styles/config/mixins" as mixin;
.container {
  /* box-model */
  @include mixin.center;
  @include mixin.colFlex;

  width: 85%;

  padding: 20px;
  color: variable.$blue-primary;

  /* White Tint 65% */
  background: variable.$bannerBg;
  box-shadow: variable.$banner-shadow;
  backdrop-filter: blur(15px);

  h2 {
    /* typography */
    font-weight: 300;

    @media #{variable.$xsmall-and-up} {
      /* typography */
      font-size: 60px;
    }
  }
  @media #{variable.$xsmall-and-up} {
    /* box-model */
    width: 60%;
    padding: 60px;
  }
}
