@use "@styles/config/variables" as variable;
@use "@styles/config/mixins" as mixin;
.container {
  padding: 20px;
  @include mixin.center;
  @include mixin.colFlex;
  color: variable.$blue-primary;
  width: 85%;

  /* White Tint 65% */
  background: variable.$bannerBg;
  box-shadow: variable.$banner-shadow;
  backdrop-filter: blur(15px);

  h2 {
    font-weight: 300;

    @media screen and (min-width: 600px) {
      font-size: 60px;
    }
  }
  @media screen and (min-width: 600px) {
    width: 60%;
    padding: 60px;
  }
}
