@use "@styles/config/variables" as variable;
@use "@styles/config/mixins" as mixin;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  @include mixin.center;
  color: variable.$blue-primary;
  width: 85%;

  /* White Tint 65% */
  background: rgba(255, 255, 255, 0.65);
  box-shadow: -10px 10px 20px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);

  h2 {
    font-weight: 300;

    @media screen and (min-width: 600px) {
      font-size: 60px;
    }
  }
  @media screen and (min-width: 600px) {
    width: 60%;
    padding: 60px;
  }
}
