@use "@styles/config/variables" as variable;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  max-width: 400px;
  box-shadow: variable.$card-shadow;
  backdrop-filter: blur(30px);

  h4 {
    max-width: 70%;
  }
}

.adornment {
  position: absolute;
  left: 0;
  top: 0%;
  height: 3px;
  background: variable.$card-gradient;
  width: 100%;
}
