@use "@styles/config/variables" as variable;
@use "@styles/config/mixins" as mixin;

.button {
  /* position and layout */
  display: inline-block;
  background: transparent;
  border: none;
  color: variable.$white;
  cursor: pointer;

  /* box-model */
  padding: 20px 0;

  @include mixin.btnText;

  span {
    /* box-model */
    margin-left: 5px;
  }
}

.button[data-variant="dark"] {
  color: variable.$blue-primary;
}
