.wrapper {
  background-color: #032849;

  &__upper {
    max-width: 650px;
    text-align: center;
    margin-bottom: 70px;

    h4 {
      margin: 20px 0;
      width: 95%;
      font-weight: 600;
    }
  }

  &__lower {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    justify-content: center;
  }
}
