.wrapper {
  background-color: #032849;

  button {
    background: transparent;
    border: none;
    color: #fff;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    span {
      margin-left: 5px;
    }
  }

  &__upper {
    max-width: 650px;
    text-align: center;
    margin-bottom: 70px;

    h4 {
      margin: 20px 0;
      width: 95%;
      font-weight: 600;
    }
  }

  &__lower {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    justify-content: center;
  }
}
