@use "@styles/config/mixins" as mixin;

.wrapper {
  @include mixin.colFlex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 80px 10px;
  }
}

.wrapper[data-variant="bg"] {
  position: relative;
  background-image: url("/bailey.jpg");
  height: 80vh;
  background-position: center center;
}
