.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 80px 10px;
  }
}

.wrapper[data-variant="bg"] {
  background-image: url("/bailey.jpg");
  height: 80vh;
  background-position: center center;
  position: relative;
}
