// creating a design system that ensures that any change here should affect the whole system/project
$white: #fff;
$blue-primary: #032849;
$opacity-primary: rgba(19, 129, 215, 0.12);

// box shadows

//width

$xsmall-and-up: "screen and (min-width : 480px)";

$main-font: "Work Sans", sans-serif;

// letter spacing
$letter-spacing: -1.5px;

/* gradients */
